
<title>Home</title>
<div id="home-header" class="row">
  <img src="/images/full-logo.png" width="90" height="50">
  <div class = "column.2">
    <h1>BTLearning</h1>
  </div>
  <div class="pull-right">
    <p id="home-header">Profile</p>
  </div>
</div>

  <p>Welcome to BTLearning, a collaborative, innovative way to connect with your colleagues.</p>
