#header {
  background-color: #252b35;
  color: white;
  position: relative;
  border-bottom: 3px solid #ffffff;
  padding: 10px;
}

#forms {
  background-color: #D3D3D3;
  color: black;
  font-size: 20;
  
  position: relative;
  border-bottom: 3px solid #ffffff;
  padding: 10px;
}
